.env
node_modules
__pycache__

# API
api/.coverage
api/htmlcov/
api/.pytest_cache/
api/.ruff_cache/
api/.venv/
api/.env
api/uv.lock
api/src/api.egg-info/

# Global Python
*.py[cod]
*$py.class
*.so

# Analyse results
docs/analyse

# custom nodes
nodes/**/dist
worktrees/
.worktrees/

# Model storage
models/
